<% if(error.length !=0){ %>
    <div id="errorNote" class="flex justify-center">
        <h1 class="absolute mt-5 text-white bg-red-500 p-2 text-center rounded-lg max-w-50%">
            <%= error %>
        </h1>
    </div>
    <% } %>


    <script>
        (setTimeout(() => {
            document.getElementById("errorNote").setAttribute("style", "display: none;");
        }, 3000))();
    </script>